*{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
    background-color: #3c096c;
}

.info-header {
    background-color: #5a189a;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 50%;
    box-shadow: 0 4px 8px rebeccapurple;
    border-radius: 8px;
}

header > img {
    width: 200px;
    height: 200px;
    align-self: center;
    margin-top: 0;
    border-radius: 8px 8px 0 0;
}

.info-text {
    margin-top: 0;
    display: block;
    justify-content: center;
    color: black;
}

header > div > h2 {
    align-self:center;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2rem;
    text-align: center;
}

header > div > p{
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 100;
    color: #03045e;
}

div > button{
    margin-top: 0;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
    cursor: pointer;
}

#linkedin {
    background-color: #4361ee;
    color: white;
}

#email {
    background-color: white;
    color: black;
}

.about-container {
    color: white;
    display: flex;
    text-align: center;
    justify-content: flex-start;
    margin: 10px auto;
    width: 50%;
    background-color: #5a189a;
    padding: 15px;
    flex-direction: column;
    box-shadow: 0 4px 8px rebeccapurple;
    border-radius: 8px;
}

.about-container > h2 {
    font-size: 1.8rem;
    text-align: left;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
}

.about-container > p {
    text-align: left;
    font-size: 18px;
    font-weight: 100;
    line-height: 1.8rem;
    display: inline-block;
}

.interests {
    color: white;
    display: block;
    justify-content: flex-start;
    margin: 5px auto;
    width: 50%;
    background-color: #5a189a;
    padding: 15px;
    box-shadow: 0 4px 8px rebeccapurple;
    border-radius: 8px;
}

.interests > h2 {
    font-size: 1.8rem;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 4px;
}

.interests > p {
    margin-top: 0;
    margin-bottom: 4px;
    font-weight: 600;
    font-size: 1.5rem;
    text-decoration: underline;
}

.interests > ul {
    list-style-type: none;
    padding: 0;
    margin-top: 0;
}

.footer {
    width: 50%;
    margin: 15px auto;
    background-color: #5a189a;
    text-align: center;
    box-shadow: 0 4px 8px rebeccapurple;
    border-radius: 8px;
    color: white;
}

a {
    margin-right: 10px;
    text-decoration: none;
}

a > img{
    width: 50px;
}

span{
    font-size: 1rem;
    font-weight: 900;
}